.FooterApp {
	.fa-react {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 20px;
	}
	background: transparent;
	border-top: 1px solid #DDE1E6;
	margin-top: 20px;
	bottom: 0;
	width: 100%;
	padding: .75rem 1.25rem;
	.footer-info {
		border-top: 0;
		text-align: center;
		a {
			text-decoration: none;
			color: #2F87D0;
		}
		color: #8091A6;
	}
}