// variables
$button-clear: #ffa500;
$primary-color: #006BFF;
$color-success: #5fe83a;

// mixins
@mixin bg-gradient {
	background-image: linear-gradient(to right, #eaecee, #edeff1, #f0f2f4, #f4f6f8, #f7f9fb);
}

// imports
@import './Form/Form';
@import './LoadingScreen/LoadingScreen';
@import './Historic/Historic';
@import './NavbarApp/NavbarApp';
@import './FooterApp/FooterApp';

body {
	background: #F7F9FB;
	background-image: url('../assets/bg.jpg');
}

.App {
	.result-link {
		margin-top: 20px;
	}
	.result-link-input {
		&:focus {
			border: 0;
 			box-shadow: none;
  			outline: 0 none;
		}
		text-align: center;
		&::selection {
			background: $color-success;
		}
	}
	.copied {
		color: $color-success;
	}
	.fa-clipboard, .fa-clipboard-check {
		font-size: 22px;
	}
	.fa-clipboard {
		text-shadow: 0px 0px 1px #000;
	}
	.input-group-text {
		background: $primary-color;
		border: 0;
	}
	.button-copy {
		background: #E9ECF0;
		border-color: #CDD4DB;
		border-left: 0;
	}
	.button-copy, .result-link-input {
		border: 0;
	}
	.alert-error {
		margin-top: 10px;
		text-align: center;
	}
}